@use '../base/util.scss' as *;
@use '../base/variables.scss' as *;

.page-wrap {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(to bottom, $color-page-bg-light, $color-page-bg);
  color: $color-white;
  position: relative;
  padding-inline: rem(20px);
  overscroll-behavior: none;
}

.decos {
  overflow: hidden;
  position: fixed;
  inset: 0;
}

.deco1 {
  pointer-events: none;
  position: absolute;
  top: -30%;
  left: -42%;
  width: 110%;
  height: 68%;
  background: radial-gradient(ellipse, $color-coral 0%, transparent 60%);
  border-radius: 50%;
  filter: blur(rem(80px));
  opacity: 0.8;
  transform: rotate(-15deg);
  z-index: 0;
}

.deco2 {
  pointer-events: none;
  position: absolute;
  bottom: -26%;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 34%;
  background: $color-purple;
  border-radius: 50%;
  filter: blur(rem(75px));
  opacity: 0.80;
  z-index: 0;
}

.contents-wrap {
  position: relative;
  z-index: 1;
}
