@use '../base/util.scss' as *;
@use '../base/variables.scss' as *;

button {
  background-color: transparent;
  border: none;
  padding: rem(2px) rem(6px);
  color: $color-white;
  cursor: pointer;
}
