@use '../base/util.scss' as *;
@use '../base/variables.scss' as *;

.text-list {
  display: grid;
}

.text-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20px);
  padding: rem(10px) rem(4px);
  border-bottom: rem(1px) solid $color-border;
  color: rgba($color-white, $opacity-strong);
  font-size: rem($font-size-sm);
  line-height: 1.6;

  .icon {
    font-size: rem($font-size-lg);
  }

  &:hover .text-list-action {
    transform: rotate(-45deg);
  }
}

a.text-list-item {
  cursor: pointer;
}

.text-list-name {
  flex: 1;
  min-width: 0;

  &--ellipsis {
    @include text-ellipsis;
  }
}

.text-list-action {
  margin-right: rem(6px);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
